body {
    background-color: #56616d;
}

/* PIN container */
#pinContainer {
    display: flex;
    gap: 6px;
}

/* cases */
#pinContainer {
    display: flex;
    gap: 4px;
    justify-content: flex-end;
}

.pin {
    width: 24px !important;
    height: 28px !important;
    font-size: 13px !important;
    padding: 0 !important;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* focus plus propre */
.pin:focus {
    border-color: #0d6efd;
    outline: none;
    box-shadow: 0 0 3px rgba(13,110,253,0.5);
}

/* erreur */
.pin.error {
    border-color: #dc3545;
    animation: shake 0.25s;
}

/* animation */
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-3px); }
    50% { transform: translateX(3px); }
    75% { transform: translateX(-3px); }
    100% { transform: translateX(0); }
}